.dot {
  height: 25px;
  width: 25px;
  background-color: beige;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

.card-action li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.progress-bar {
  position: relative;
  height: 40px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  margin: 20px 0;
}

.filler {
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.bar-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid lightgray;
  margin: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
