/* .dot {
    height: 25px;
    width: 25px;
    background-color: beige;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
  } */
/* 
.fa option {
  font-size: 48;
} */

.colorIcons option {
    width: 20px;
    background-color: cornflowerblue;
}