/* color for categories */
.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

/* profile page */

#edit-profile-page {
  max-width: 600px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

#edit-profile-page .col {
  width: 80%;
}

#edit-profile-page .card {
  width: 300px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 150px;
}
