.container-wrapper {
  /* margin-right: 0; */
  /* margin-left: 150px; */
  width: 100%;
  transition: transform 0.25s ease-in 0s;
  position: relative;
  display: block;
  z-index: 3;
}

/* color for categories */
.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

.collection-item {
  display: flex;
}

.collection-item .text {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}

.collection-item .icons {
  flex: 1;
}
