.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 150px;
  z-index: 2;
  /* pointer-events: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: aliceblue;
}

.links .icon-wrapper {
  display: flex;
  flex-direction: column;
}

.links .icon-wrapper p {
  margin: 0;
  line-height: 1;
}

.links {
  text-align: center;
}

.links .icon-wrapper a {
  margin: 5px 0;
}

.sidenav {
  width: 150px;
  max-height: max-content;
}

.sidenav .icon-wrapper {
  display: flex;
}

.sidenav li > a > i.material-icons {
  float: none;
  margin: 0;
  width: 0;
}

.profile-img img {
  width: 100px;
}
