.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 150px;
  z-index: 2;
  /* pointer-events: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.navigation .links .icon-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.navigation .links .icon-wrapper p {
  margin: 0;
  line-height: 1;
}

.navigation .links {
  text-align: center;
}

.navigation .links .icon-wrapper a {
  margin: 5px 0;
}

.profile-img img {
  width: 100px;
}

.logo-img img {
  width: 120px;
}

.logout {
  margin-bottom: 20px;
  text-align: center;
}
.logout p {
  margin: 0;
  line-height: 1;
}

/* sidenav */
.col {
  margin: 10px;
}

.sidenav {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  /* //justify-content: space-between; */
}

.sidenav .icon-wrapper a {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav .icon-wrapper p {
  margin: 0;
  line-height: 1;
}

.sidenav li > a > i.material-icons {
  float: none;
  margin: 0;
  width: 0;
  text-align: center;
}

.sidenav .logout {
  margin-top: 80px;
}
